/*Type de police*/
/*///////////////////////////////////////////////////////////////////////*/


.header2 {
    /*background: url('https://fablab-icam-toulouse.com/images/elec.jpg') fixed no-repeat;*/
    background-size: cover;
    height: 50%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*//////////////////////////////////////////////////////////////////////*/
