/*Type de police*/
/*///////////////////////////////////////////////////////////////////////*/


.header2 {
    background: url('http://51.77.245.133:8006/images/elec.jpg') fixed no-repeat;
    background-size: cover;
    height: 50%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*//////////////////////////////////////////////////////////////////////*/
