/*Type de police*/
/*///////////////////////////////////////////////////////////////////////*/

.header1 {
    /*background: url('https://fablab-icam-toulouse.com/images/imprimante3d.jpg') fixed no-repeat;*/
    background-size: cover;
    height: 50%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#Description1:target{
    display: flex;
}

#Description2:target{
    display: flex;
}

#Description3:target{
    display: flex;
}

/*//////////////////////////////////////////////////////////////////////*/


