body {
    background: none;
}

header {
    background: url('http://51.77.245.133:8006/images/Fablab.jpg') fixed no-repeat;
    background-size: cover;
    color: white;
}

article {
    color: black;
    text-align: center;
    max-width: 800px;
    margin: auto;
}


/*//////////////////////////////////////////////////////////////////////*/

.hiddenscrollbar {
    overflow: hidden;
    height: 100%;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.headcontent {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px 15px black;
}

#pagecontainer {
    display: flex;
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-right: 20px;
}

#maintexte {
    text-align: justify;
}

/*//////////////////////////////////////////////////////////////////////*/
